.promo
    min-height: 400px
    &_wrapper
        padding: 80px 0px 50px 0px
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        img
            width: auto
            height: 310px  
            margin-right: 150px
    &_title 
        font-size: 26px
        font-weight: 700
    &_descr 
        font-size: 20px 
    button
        border-radius: 20px
        width: 190px  
        background-color: white 
        border-color: $main-color
        border-style: solid
        color: $main-color
        &:hover
            border: none
            background-color: $main-color
            transition: 0.9s all
            color: white